<div class="sidenav-block">
    <div>
        <ul>
            <li >
                <span><img src="../../../asset/images/main.jpg" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/home.png" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/bars.png" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/vert.jpg" alt=""></span>
            </li>
           
            <li>
                <span><img src="../../../asset/images/check-box.png" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/pie.png" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/person.jpeg" alt=""></span>
            </li>
        </ul>
    </div>

    <div class="second-block">
        <ul>
            <li >
                <span class="lImg"><img src="../../../asset/images/cir.png" alt=""></span>
            </li>
            <li>
                <span><img src="../../../asset/images/setting.png" alt=""></span>
            </li>
            <li>
                <span><img class="circle" src="../../../asset/images/person1.png" alt=""></span>
            </li>
        </ul>
    </div>
</div>

