
<div class="main-container">
    <div class="row flex">
        <app-header></app-header>
    </div>
    <div class="row vendor-container">
        <div class="left-container vendor-card flex">
            <div class="flex">
                <app-vendor-breakdown></app-vendor-breakdown>
            </div>
        </div>
        <div class="right-container vendor-card">
            <app-vendors-monitored></app-vendors-monitored>
        </div>
    </div>
    <div class="table-container table-card">
        <app-team-members></app-team-members>
    </div>
</div>
