

<div class="row main-block">
    <div class="welcom-msg">
        <span>Welcome back, Oliva</span>
    </div>
    <div>
        <div class="btn-block">
            <span class="search-icon"><img src="../../../asset/images/search1.png" alt=""></span>
            <button class="customizeBtn">
                <img src="../../../asset/images/equalizer.png" alt="">Customize</button>
            <button class="customizeBtn">
                <img src="../../../asset/images/download.png" alt="">Export</button>    
        </div>
    </div>
</div>
